[project]
	description = test github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ernice
[access "refs/for/refs/*"]
	read = group user/ernice
	push = group user/ernice
	label-Code-Review = -2..+2 group user/ernice
	label-Verified = -1..+1 group user/ernice
	rebase = group user/ernice
	removeReviewer = group user/ernice
	submit = group user/ernice
[access "refs/heads/*"]
	read = group user/ernice
	create = group user/ernice
	push = +force group user/ernice
	pushMerge = group user/ernice
[access "refs/tags/*"]
	push = group user/ernice
	push = +force group user/ernice
